@{
    ViewData["Title"] = "New post";
}


<h2>New post</h2>



<form method="post" asp-controller="Post" asp-action="Index" id="Content">
    <div class="row">
        <div class="col">
            <div>
                <label for="Topic">Topic</label>
                <input type="text" id="Topic" name = "Topic" class="border" />
            </div>
        </div>
        <div class="col">
            <div>
                <label for="Category">Category</label>
                <input type="text" id="Category" name = "Category" class="border" />
            </div>
        </div>
    </div>

    <div>
        <textarea class="border" style="height: 350px; width: 600px" id="Text" name = "Text"></textarea>
        <label for="Text">Your content</label>
    </div>

    

    <div class="row mb-4">
        <div class="d-inline-block w-25">
        <form id="ThumbnailUpload">
            <button type="submit" form = "ThumbnailUpload" id="AddThumbnail" class = "align-center btn btn-info rounded-pill" style="height: 30px;">Add thumbnail</button>
                <div id = "ThumbnailDnD" style="visibility: hidden;">
                    <form method="post" enctype="multipart/form-data">
                        <div id="thumbnail" class="filebasket text-center text-bg-light border" style="height: 100px;">
                            Drag-n-Drop your thumbnail here!
                        </div>
                    </form>
                </div>
            </form>
        </div>
        <div class="d-inline-block w-75">
            <form method="post" enctype="multipart/form-data">
                <div id="fileBasket" class="filebasket mb-4 text-center text-bg-light border" style="height: 130px;">
                    Drag-n-Drop your pictures here!
                </div>
            </form>
        </div>
    </div>

    <button type="submit" form="Content" class="btn btn-primary btn-block mb-2">
    Submit
    </button>
</form>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
<script>
$(document).ready(function () {
    $("#AddThumbnail").click(function(){
        $("#ThumbnailDnD").css("visibility", "visible");
    })

    $("#fileBasket").on("dragenter", function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
    });

    $("#fileBasket").on("dragover", function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
    });

    $("#fileBasket").on("drop", function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
        var files = evt.originalEvent.dataTransfer.files;
            var fileNames = "";
            if (files.length > 0) {
                fileNames += "Uploading <br/>"
                for (var i = 0; i < files.length; i++) {
                    fileNames += files[i].name + "<br />";
                }
            
            $("#fileBasket").html(fileNames)
        
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/Post/UploadToServer",
                contentType: false,
                processData: false,
                data: data,
                success: function () {
                    $("#fileBasket").html("Success!");
                },
                error: function () {
                    $("#fileBasket").html("There was error uploading files!");
                },
            });
            }
        });
    });

    $("#thumbnail").on("dragenter", function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
    });

    $("#thumbnail").on("dragover", function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
    });

    $("#thumbnail").on("drop", function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
        var files = evt.originalEvent.dataTransfer.files;
            var fileNames = "";
            if (files.length == 1)
            {
                fileNames += "Uploading <br/>"
                fileNames += files[0].name;
            
            $("#thumbnail").html(fileNames)
        
            var data = new FormData();
            data.append("thumbnail", files[0]);

            $.ajax({
                type: "POST",
                url: "/Post/UploadToServer",
                contentType: false,
                processData: false,
                data: data,
                success: function () {
                    $("#thumbnail").html("Success!");
                },
                error: function () {
                    $("#thumbnail").html("There was error uploading files!");
                },
            });
            }
            else {
                $("#thumbnail").html("There can be only one thumbnail pic!");
            }
    });
</script>
}