@{
    ViewData["Title"] = "New post";
}

<div>
<h2>New post</h2>
</div>
<form method="post" asp-controller="Post" asp-action="Index" id="Content">
    <div class="d-flex flex-row">
        <div class="input-group">
            <span class="input-group-text" id="topic-field">Topic</span>
            <input type="text" class="form-control" aria-describedby="topic-field" name="Topic" required>
        </div>
        <div class="input-group">
            <span class="input-group-text" id="categ-field">Category</span>
            <select class="form-select" id="Category" name = "Category" aria-describedby="categ-field">
                <option value="Films&Series">Films&Series</option>
                <option value="Games">Games</option>
                <option value="Music">Music</option>
            </select>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="p-2"> 
            <div class="input-group">
                <span class="input-group-text" id="rating-field">Your grade:</span>
                <input type="range" class="form-range" min="1" max="5" step="1" name="authorGrade" aria-describedby="rating-field" oninput="document.getElementById('Grade').innerText = parseInt(this.value);Grade=parseInt(this.value)">
	            <span class="input-group-text"><output class="col" name="show_parM_val" id="Grade">1</output></span>
            </div>
        </div>
    </div>

    <div>
        <textarea class="border" id="Text" name = "Text"></textarea>
        <label for="Text">Your content</label>
        <script>
            document.getElementById("Text").style.width = 0.6 * screen.width;
            document.getElementById("Text").style.height = (0.6 * screen.width) * 0.5625;
        </script>
    </div>

    <div class="row mb-4">
        <div class="d-inline-block w-25">
        <form id="ThumbnailUpload">
            <button type="submit" form = "ThumbnailUpload" id="AddThumbnail" class = "align-center btn btn-info rounded-pill" style="height: 30px;">Add thumbnail</button>
                <div id = "ThumbnailDnD" style="visibility: hidden;">
                    <form method="post" enctype="multipart/form-data">
                        <div id="thumbnail" class="filebasket text-center text-bg-light border" style="height: 100px;">
                            Drag-n-Drop your thumbnail here!
                        </div>
                    </form>
                </div>
            </form>
        </div>
        <div class="d-inline-block w-75">
            <form method="post" enctype="multipart/form-data">
                <div id="fileBasket" class="filebasket mb-4 text-center text-bg-light border" style="height: 130px;">
                    Drag-n-Drop your pictures here <b>all at once!</b>
                </div>
            </form>
        </div>
    </div>

    <button type="submit" form="Content" class="btn btn-primary btn-block mb-2">Submit</button>
</form>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
<script>
$(document).ready(function () {
    $("#AddThumbnail").click(function(){
        $("#ThumbnailDnD").css("visibility", "visible");
    })

    $("#fileBasket").on("dragenter", function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
    });

    $("#fileBasket").on("dragover", function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
    });

    $("#fileBasket").on("drop", function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
        var files = evt.originalEvent.dataTransfer.files;
            var fileNames = "";
            if (files.length > 0) {
                fileNames += "Uploading <br/>"
                for (var i = 0; i < files.length; i++) {
                    fileNames += files[i].name + "<br />";
                }
            
            $("#fileBasket").html(fileNames)
        
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/Post/UploadToServer",
                contentType: false,
                processData: false,
                data: data,
                success: function () {
                    $("#fileBasket").html("Success!");
                },
                error: function () {
                    $("#fileBasket").html("There was error uploading files!");
                },
            });
            }
        });
    });

    $("#thumbnail").on("dragenter", function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
    });

    $("#thumbnail").on("dragover", function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
    });

    $("#thumbnail").on("drop", function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
        var files = evt.originalEvent.dataTransfer.files;
            var fileNames = "";
            if (files.length == 1)
            {
                fileNames += "Uploading <br/>"
                fileNames += files[0].name;
            
            $("#thumbnail").html(fileNames)
        
            var data = new FormData();
            data.append("thumbnail", files[0]);

            $.ajax({
                type: "POST",
                url: "/Post/UploadToServer",
                contentType: false,
                processData: false,
                data: data,
                success: function () {
                    $("#thumbnail").html("Success!");
                },
                error: function () {
                    $("#thumbnail").html("There was error uploading files!");
                },
            });
            }
            else {
                $("#thumbnail").html("There can be only one thumbnail pic!");
            }
    });
</script>
}