@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Email" class="form-control" disabled />
                <label asp-for="Email" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Name" class="form-control" />
                <label asp-for="Input.Name" class="form-label"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.DateOfBirth" class="form-control" />
                <label asp-for="Input.DateOfBirth" class="form-label"></label>
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
    <div class="col-md-3 offset-md-3">
        <div id="PicArea" style="visibility: visible;">
        <img src = "@Model.PicLink" style="border-radius: 75px; height: 150px; width: 150px;">
        <button type="submit" id="Change" class = "btn btn-info rounded-pill" style="width: 150px;">Change pic</button>
        <button type="submit" id="Delete" class = "btn btn-danger rounded-pill" style="width: 150px;">Delete pic</button>
        </div>
        <div id = "DragAndDropArea" style="visibility: collapse;">
            <form method="post" enctype="multipart/form-data">
                <div id="fileBasket" class="filebasket text-center text-bg-light border" style="height: 150px; width: 150px;">
                    Drag-n-Drop your file here
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
<script>
$(document).ready(function () {
    $("#Change").click(function(){
        $("#PicArea").css("display", "none");
        $("#DragAndDropArea").css("visibility", "visible");
    })

    $("#fileBasket").on("dragenter", function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
    });

    $("#fileBasket").on("dragover", function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
    });

    $("#fileBasket").on("drop", function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
        var files = evt.originalEvent.dataTransfer.files;
            var fileNames = "";
            if (files.length == 1 && files.length > 0) {
                fileNames += "Uploading <br/>"
                for (var i = 0; i < files.length; i++) {
                    fileNames += files[i].name + "<br />";
                }
            
            $("#fileBasket").html(fileNames)
        
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/Account/UploadFiles",
                contentType: false,
                processData: false,
                data: data,
                success: function () {
                    $("#fileBasket").html("Success!");
                    location.reload(true);
                },
                error: function () {
                    $("#fileBasket").html("There was error uploading files!");
                },
            });
            }
            else{
                $("#fileBasket").html("You are trying to upload more than 1 file")
            }
        });
    });

    $("#Delete").click(function(){
        $.ajax({
                type: "POST",
                url: "/Account/Delete",
                contentType: false,
                processData: false,
                data: false,
                success: function () {
                    $("#PicArea").html("Success!");
                    location.reload(true);
                },
            });
    })
</script>
}