<div class="d-flex flex-column" id="CommentSection">
    @foreach(var comment in Model.Comments){
        String commentatorGrade = String.Empty;
        foreach(var grade in Model.UserRating){
            if(grade.Author == comment.Author){
                commentatorGrade = $"(graded this post as {grade.Grade.ToString()})";
                break;
            }
        }
        if(commentatorGrade == String.Empty){
            commentatorGrade = "(didn't grade this post)";
        }
        <div class="p-2">
            <label for="userComment" class="form-label">
                <a asp-for="userId" asp-route-userId="@comment.Author.Id" asp-controller="Blog" asp-action="Blogger">@comment.Author.UserName</a> @commentatorGrade said at @comment.CreationTime:</label>
            <input class="form-control" type="text" value="@comment.Content" id="cmt_@comment.ID" disabled readonly style="border-radius: 15px;">
        </div>
    }
</div>

<script>
    var coeff = 0;
    if(screen.height/screen.width > 0.5625){
        coeff = 0.9;
    }
    else{
        coeff = 0.6;
    }
    var width = coeff * screen.availWidth;
    document.getElementById("CommentSection").style.width = width + 'px';

    setInterval(() => {
        $.ajax({
            type: "POST",
            url: "/Blog/UpdateComments?postId=@Model.ID",
            contentType: false,
            processData: false,
            data: false,
            error: function () {
                alert("An error occured! Autoupdate of comments");
            },
        });
        $("#CommentSection").load(" #CommentSection > *" );
    }, 5000);
</script>