@{
    ViewData["Title"] = "My blog";
    String UserPic = TempData["targetPic"] as string;
    String Age = TempData["targetAge"] as string;
}
<div class="border-bottom">
    <div class="d-inline-flex">
        <img src="@UserPic" alt="Profile picture" style="border-radius: 75px; height: 150px; width: 150px;">
    </div>
    <div class="d-inline-flex">
        <h3>@Model.UserName</h3> 
    </div>
    <div class="d-inline-flex">
    @if(Model.DateOfBirth != null)
    {
        <h4>Age: @Age</h4>
    }
    </div>
</div>
<br />
<div class = "d-flex flex-row">
    <div class = "p-2" id="toolSection">
        <h3>Tools</h3>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="btn btn-info" asp-area="" asp-controller="Post" asp-action="Index" role="button">New post</a></li>
        </ul>
    </div>
    <div id = "contentSection" class = "col col-md-offset-2">
        <div class="border-bottom border-dark">
            <h3>Your posts</h3>
        </div>
        <partial name="_bloggerPosts">
    </div>
</div>

<script>
    var width = screen.availWidth;
    document.getElementById("contentSection").style.width = (0.75 * width) + 'px';
    document.getElementById("toolSection").style.width = (0.25 * width) + 'px';
</script>