@using FreshSight.Controllers
@using Azure.Storage.Blobs;
@{
    String containerName = "posts";
    String connectionString = "DefaultEndpointsProtocol=https;AccountName=freshsightcloud;AccountKey=nnVOWYu0nVMx1pprfPeoktl2PdAsTdmW/iL8Zt/CfqrP3xugfFM72Kpi47/l46qrfhBCIMDMliQ++AStPFLjHw==;EndpointSuffix=core.windows.net";
    BlobContainerClient cloud = new BlobContainerClient(connectionString, containerName);
    var text = cloud.GetBlobs(prefix: $"{Model.ID}_text");
    ViewData["Title"] = $"Post : {Model.ID}";
}

<h2>@Model.Topic</h2>
</h4>@Model.Category</h4>
<br />
@foreach(var line in text){
    Console.WriteLine(line);
}
